.center {
  margin-top: 50px;
  margin-bottom: 25px;
  // background-color: aqua;
  display: flex;
  justify-content: center;
}

.exam-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.exam-container h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}

.exam-container-box {
  // display: flex;
  width: 60%;
  border: solid 2px black;
  border-radius: 16px;
  padding: 10px;
  background-color: rgb(245, 245, 234);
  text-align: center;
}
.exam-container .CreatExam input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.exam-container .CreatExam input::placeholder {
  color: rgb(238, 235, 235, 0.5); /* color place holder letters*/
}