.question-card{
  height:700px; /* Altura fija */
  max-height: 600%;
  width: 600px; /* Anchura fija */
  max-width: 600%;
  overflow: auto;
  margin: 0 auto;
  // margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;

  background-color: grey;
  border-radius: 16px;
  padding: 16px;
  

  // width: 70%;
  // height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
}
.answers-list {
  list-style: none;
}

.answers-list li {
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 8px;
}

.optionsgame {
  background-color: darkgray;
  width: 250px;
  justify-content:flex-start;
  border-radius: 16px;

}

.optionsgame form {
  align-items: center;
}

button {
  align-items: center;
}

.player-list{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: darkgray;
  width: 250px;
  justify-content: center;
  border-radius: 16px;
  
}

//Button addPlayerForm, PlayerList 

.button-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(223, 96%, 30%) 0%,
    hsl(211, 93%, 42%) 8%,
    hsl(211, 93%, 42%) 92%,
    hsl(223, 96%, 30%) 100%
  );
}

.button-front {
  display: block;
  position: relative;
  padding: 4px 9px;
  border-radius: 12px;
  font-size: 0.5rem;
  color: white;
  background: hsl(238, 94%, 49%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 150px) {
  .button-front {
    font-size: 0.8rem;
    padding: 4px 14px;
  }
}

.button-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-pushable:hover .button-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-pushable:hover .button-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-pushable:active .button-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-pushable:focus:not(:focus-visible) {
  outline: none;
}
.name{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;  

}

.buttonAdd {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;  
}

.remove{
  display: flex;
  justify-content: space-around;
  padding-top: 20px; 

}
.sideBar {
  display: flex;
  flex-direction: column;
}

.optionForm {
  padding-left: 10px;
  position: fixed;
  left: 0;
  margin-bottom: 20px;
}

.playerList{
  padding-top: 10px;
}

//render loading in the middle of the screen
.reactLoading{
  padding-top: 250px;
}
