.question-card{
  margin: 0 auto;

  background-color: grey;
  border-radius: 16px;
  padding: 16px;

  width: 70%;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.answers-list {
  list-style: none;
}

.answers-list li {
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 8px;
}

.options {
  background-color: darkgray;
  width: 250px;
  justify-content: center;
  border-radius: 16px;

}

.options form {
  align-items: center;
}

button {
  align-items: center;
}

.player-list{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: darkgray;
  width: 250px;
  justify-content: center;
  border-radius: 16px;
  
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.name{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;  

}

.buttonAdd {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;  
}

.remove{
  display: flex;
  justify-content: space-around;
  padding-top: 20px; 

}
.sideBar {
  display: flex;
  flex-direction: column;
}

.optionForm {
  padding-top: 10px;
}

.playerList{
  padding-top: 10px;
}
