.topNav {
// background-color: aqua;
position: relative;
z-index: 2000;
height: 120px;
position: fixed;
width: 100%;
}

.topNav-container {
  background-color: grey;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topNav-container--navigation {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  a {
    font-size: 18px;
    &:hover {
      text-decoration: overline;
      color: #111;
    }

  }
}

.topNav-profile--image {
  border-radius: 50%;
  overflow: hidden;
  transform: scale(75%);

}

.topNav-container--navigation--img {
  height: 100px;
}