.topNav {
// background-color: aqua;
position: relative;
z-index: 2000;
height: 120px;
position: fixed;
width: 100%;
}

.topNav-container {
  background-color: rgb(237, 237, 237);
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.topNav-container--navigation {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  a {
    font-size: 18px;
    &:hover {
      text-decoration: overline;
      color: #111;
    }

  }
}

@import url(https://fonts.googleapis.com/css?family=Oswald:400);

// .navigation {
//   width: 100%;
//   background-color: black;
// }

img {
  width: 50px;
  // border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
	text-decoration: none;
	float: right;
  padding: 12px;
  margin: 15px;
  color: black;
  // width: 25px;
  // background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden;
}

a:hover button{
  width: 125px;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

.topNav-container--navigation--img {
  height: 100px;
  width: 100px;
  margin-left: 15px;
  margin-top: 15px;
}
